[
  {
    "Alias": "#1",
    "QueueUrl": "{{ sqs_id }}",
    "RedriveUrl": "http://nohost.com/",
    "Region": "{{ instance_region }}",
    "Active": true,
    "Timeout": 10000,
    "ServiceUrl":  "https://www.google.com"
  }
]